<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0706012110034-Marsha Alexis Likorawung-Watch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AFL3-0706012110034-Marsha Alexis Likorawung.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Marsha Alexis Likorawung-0706012110034-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Watch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0658C28029E4F3A000D991D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06663CE429F9164B00279665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06663CF329F9164E00279665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06663CFD29F9164E00279665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D0C34B29F9357500ACF42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D0C35E29F935F900ACF42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D0C36E29F9362000ACF42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D0C38029F936DC00ACF42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D0C39529F9375900ACF42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
